<a href="https://colab.research.google.com/github/AbhinavGitam/Python-new/blob/module1/Control_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## control Statements

1) if-else

In [ ]:
a = int(input('Enter Your Age :'))
if(a>=18):
  print('You Are Eligible For Voting')
else:
  print('Not Eligible For Voting')

Enter Your Age :18
You Are Eligible For Voting

2) Maximum of 3 numbers

In [ ]:
a = int(input('Enter the first number :'))
b = int(input('Enter the second number :'))
c = int(input('Enter the third number :'))
if(a>b and a>c):
  print('A is the greatest')
elif(b>a and b>c):
  print('B is the greatest')
else:
   print('C is the greatest')

Enter the first number :6
Enter the second number :4
Enter the third number :1
A is the greatest

In [ ]:
a = int(input('Enter the first number :'))
b = int(input('Enter the second number :'))
c = int(input('Enter the third number :'))
d = int(input('Enter the fourth number :'))
e = int(input('Enter the fifth number :'))
if(a>b and a>c and a>d and a>e):
  print(a,'A is the greatest')
elif(b>a and b>c and b>d and b>e):
  print(b,'B is the greatest')
elif(c>a and c>b and c>d and c>e):
  print(c,'C is the greatest')
elif(d>a and d>b and d>c and d>e):
  print(d,'D is the greatest')
else:
  print(e,'E is the greatest')

Enter the first number :96
Enter the second number :56
Enter the third number :966
Enter the fourth number :231
Enter the fifth number :52
966 C is the greatest

4)Subject marks

In [ ]:
a = int(input('Enter the marks of maths :'))
b = int(input('Enter the marks of physics :'))
c = int(input('Enter the marks of english :'))
d = int(input('Enter the marks of Computer Science :'))
e = int(input('Enter the marks of Clad :'))
if a>b and a>c and a>d and a>e :
  print(a,'Marks which Obtained in Maths are the highest')
elif b>a and b>c and b>d and b>e :
  print(b,'Marks which Obtained in Physics are the highest')
elif c>a and c>b and c>d and c>e :
  print(c,'Marks which Obtained in English are the highest')
elif d>a and d>b and d>c and d>e :
  print(d,'Marks which Obtained in Computer Science are the highest')
elif e>a and e>b and e>c and e>d :
  print(e,'Marks which are Obtained in Clad are the highest')

Enter the marks of maths :96
Enter the marks of physics :99
Enter the marks of english :66
Enter the marks of Computer Science :56
Enter the marks of Clad :96
99 Marks which Obtained in Physics are the highest

In [ ]:
largest = None
smallest = None
while True:
    try:
        num = input('Enter a number')
        if num == "done":
            break
        #print(num)
        num = int(num)
        if largest is None or largest < num:
            largest = num
        elif smallest is None or smallest > num:
            smallest = num
    except:
        print('Invalid input')
        continue
print('Maximum is', largest)
print('Minimum is', smallest)

Enter a number3
Enter a numberabhi
Invalid input
Invalid input
Enter a numberdone
Maximum is 3
Minimum is None
Enter a numberdone

# While Loop

Print all the numbers

In [ ]:
a = int(input('Enter the value of a :'))
sum = 0
i = 1
while i<a:
  sum=sum+a
  i = i+1
  print(i)
  #print(sum)

Power of number

In [ ]:
base = 3
exponent = 4

result = 1

while exponent != 0:
    result *= base
    exponent-=1

print("Answer = " + str(result))

Answer = 81

Print max of given 2 values

In [ ]:
def maximum(a, b):
    if a >= b:
        return a
    else:
        return b
a=int(input('Enter value of a'))
b=int(input('Enter value of b'))
print(maximum(a, b))

Enter value of a50
Enter value of b30
50

Triangle type

In [ ]:
print("Input lengths of the triangle sides: ")
a = int(input("a: "))
b = int(input("b: "))
c = int(input("c: "))

if a == b == c:
	print("Equilateral triangle")
elif a==b or b==c or c==a:
	print("isosceles triangle")
else:
	print("Scalene triangle")

Input lengths of the triangle sides:
a: 5
b: 6
c: 5
isosceles triangle

leap year

In [ ]:
year = int(input('Enter the Year'))
if (year % 400 == 0) and (year % 100 == 0):
  print(year,"is a leap year")
elif (year % 4 ==0) and (year % 100 != 0):
  print(year,"is a leap year")
else:
  print(year,"is not a leap year")

Enter the Year20000
20000 is a leap year