<a href="https://colab.research.google.com/github/AbhinavGitam/Python-new/blob/module1/Module_1_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Accept input from user and store it in variable and print the value.

In [ ]:
a = int(input("enter a value"))
print(a)

enter a value20
20

#### Use of print statements and use of (.format )for printing different data types.

In [ ]:
abhinav = "My name is {0} and I'm {1}"
print(abhinav.format("abhinav",18))

My name is meghana and I'm 18

#### Conversion of one unit to another

In [ ]:
hours = int(input("Please enter hours:"))
minutes = hours * 60
print (minutes, " Minutes")
KM = int(input("Enter the dist in KM"))
meter = KM * 1000
print (meter, "Meters")

Please enter hours:1
60  Minutes
Enter the dist in KM2
2000 Meters

#### Take 2 numbers as user input and add, multiply, divide, subtract, remainder and print the output

In [ ]:
a = 30
b = 50
add = a+b
sub = a-b
mul = a*b
div = a/b
rem = a%b
print(add,"is the addition of the two")
print(sub,"id the substraction of the two")
print(mul,"is the multiplication of the two")
print(div,"is the division of the two")
print(rem,"is the remainder of the two")

80 is the addition of the two
-20 id the substraction of the two
1500 is the multiplication of the two
0.6 is the division of the two
30 is the remainder of the two

#### Accepting 5 different subject marks from user and displaying the grade of the student

In [ ]:
math=int(input("Enter marks of the math subject: "))
phy=int(input("Enter marks of the phy subject: "))
chem=int(input("Enter marks of the chem subject: "))
beee=int(input("Enter marks of the beee subject: "))
evpr=int(input("Enter marks of the evpr subject: "))
per=((math+phy+chem+beee+evpr)/500)*100
if(per>=90):
    print("Grade: A")
elif(per>=80 and per<90):
    print("Grade: B")
elif(per>=70 and per<80):
    print("Grade: C")
elif(per>=60 and per<70):
    print("Grade: D")
else:
    print("Grade: F")

Enter marks of the math subject: 56
Enter marks of the phy subject: 56
Enter marks of the chem subject: 56
Enter marks of the beee subject: 89
Enter marks of the evpr subject: 56
Grade: D

#### Calculator

In [ ]:
def add(x, y):
    return x + y
def subtract(x, y):
    return x - y
def multiply(x, y):
    return x * y
def divide(x, y):
    return x / y

print("Select operation.")
print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")

while True:
    choice = input("Enter choice(1/2/3/4): ")
    if choice in ('1', '2', '3', '4'):
        num1 = float(input("Enter first number: "))
        num2 = float(input("Enter second number: "))

        if choice == '1':
            print(num1, "+", num2, "=", add(num1, num2))

        elif choice == '2':
            print(num1, "-", num2, "=", subtract(num1, num2))

        elif choice == '3':
            print(num1, "*", num2, "=", multiply(num1, num2))

        elif choice == '4':
            print(num1, "/", num2, "=", divide(num1, num2))
        next_calculation = input("Let's do next calculation? (y/n): ")
        if next_calculation == "n":
          break
    else:
        print("Invalid Input")

Select operation.
1.Add
2.Subtract
3.Multiply
4.Divide
Enter choice(1/2/3/4): 56
Invalid Input
Enter choice(1/2/3/4): 3
Enter first number: 45
Enter second number: 45
45.0 * 45.0 = 2025.0
Let's do next calculation? (y/n): n

#### Printing all even numbers, odd numbers, count of even numbers, count of odd numbers within a given range

In [ ]:
even_count, odd_count = 0, 0
even_list = []
odd_list = []
n = int(input("Enter the starting num of range: "))
m = int(input("Enter the ending num of range: "))
# Using for loop
for i in range(n,m+1):
    if i % 2 == 0:
        even_count += 1
        even_list.append(i)
    else:
        odd_count += 1
        odd_list.append(i)
print("Total even nums in the range {0} to {1} is {2}".format(n, m,even_count), "and nums are", even_list)
print("Total odd nums in the range {0} to {1} is {2}".format(n,m,odd_count), "and nums are", odd_list)

Enter the starting num of range: 44
Enter the ending num of range: 55
Total even nums in the range 44 to 55 is 6 and nums are [44, 46, 48, 50, 52, 54]
Total odd nums in the range 44 to 55 is 6 and nums are [45, 47, 49, 51, 53, 55]

#### Check whether the number is palindrome or not

In [ ]:
x=int(input("enter x value: "))
rev=0
temp=x
while temp>0:
  rem=temp%10
  rev=(rev*10)+rem
  temp=temp//10
if x==rev:
  print("palindrome")
else:
  print("not a plaindrome")

enter x value: 56
not a plaindrome

#### Usage of mathematical functions in python like math.ceil, floor, fabs, fmod, trunc, pow, sqrt etc

In [ ]:
import math
num = 68.69
print(math.ceil(num))
print(math.floor(num))
print(math.fabs(num))
print(math.fmod(num,1))
print(math.trunc(num))
print(math.pow(num,2))
#print(math.sqrt(num))

69
68
68.69
0.6899999999999977
68
4718.3161

#### Finding simple and compound intrest

In [ ]:
import math
p=int(input("enter the principal amount"))
r=int(input("enter the intrest amount"))
t=int(input("amount of years"))
for i in range(1,t+1):
  si=(p*i*r)/100
  ci=p*(math.pow(1+r/100,i))
print(i,"yr interst ci is ",ci)
print(i,"yr interst si is ",si)

enter the principal amount55
enter the intrest amount78
amount of years456
456 yr interst ci is  8.548378480323296e+115
456 yr interst si is  19562.4

#### Printing all even numbers, odd numbers

In [ ]:
x=int(input("enter the first number in the range: "))
y=int(input("enter the second number in the range: "))
for i in range(x,y):
  if i%2==0:
    print("even numbers are",i)
  else:
    print("odd numbers are ",i)

enter the first number in the range: 456
enter the second number in the range: 547
even numbers are 456
odd numbers are  457
even numbers are 458
odd numbers are  459
even numbers are 460
odd numbers are  461
even numbers are 462
odd numbers are  463
even numbers are 464
odd numbers are  465
even numbers are 466
odd numbers are  467
even numbers are 468
odd numbers are  469
even numbers are 470
odd numbers are  471
even numbers are 472
odd numbers are  473
even numbers are 474
odd numbers are  475
even numbers are 476
odd numbers are  477
even numbers are 478
odd numbers are  479
even numbers are 480
odd numbers are  481
even numbers are 482
odd numbers are  483
even numbers are 484
odd numbers are  485
even numbers are 486
odd numbers are  487
even numbers are 488
odd numbers are  489
even numbers are 490
odd numbers are  491
even numbers are 492
odd numbers are  493
even numbers are 494
odd numbers are  495
even numbers are 496
odd numbers are  497
even numbers are 498
odd numbers are  499
even numbers are 500
odd numbers are  501
even numbers are 502
odd numbers are  503
even numbers are 504
odd numbers are  505
even numbers are 506
odd numbers are  507
even numbers are 508
odd numbers are  509
even numbers are 510
odd numbers are  511
even numbers are 512
odd numbers are  513
even numbers are 514
odd numbers are  515
even numbers are 516
odd numbers are  517
even numbers are 518
odd numbers are  519
even numbers are 520
odd numbers are  521
even numbers are 522
odd numbers are  523
even numbers are 524
odd numbers are  525
even numbers are 526
odd numbers are  527
even numbers are 528
odd numbers are  529
even numbers are 530
odd numbers are  531
even numbers are 532
odd numbers are  533
even numbers are 534
odd numbers are  535
even numbers are 536
odd numbers are  537
even numbers are 538
odd numbers are  539
even numbers are 540
odd numbers are  541
even numbers are 542
odd numbers are  543
even numbers are 544
odd numbers are  545
even numbers are 546


#### Strong Number

In [ ]:
a = int(input(" Enter the Number:"))
sum = 0
temp = a
while(temp > 0):
    factorial = 1
    rem = temp % 10
    for i in range(1, rem + 1):
        factorial = factorial * i
    print("Factorial of %d = %d" %(rem, factorial))
    sum = sum + factorial
    temp = temp // 10
print("\n Sum of Factorials of a Given Number %d = %d" %(a, sum))
if (sum == a):
    print(" The given number is a Strong Number")
else:
    print(" The given number is not a Strong Number")

 Enter the Number:45
Factorial of 5 = 120
Factorial of 4 = 24

 Sum of Factorials of a Given Number 45 = 144
 The given number is not a Strong Number

#### Perfect Number

In [ ]:
a = int(input("Enter the number: "))
sum = 0
for i in range( 1 , a ):
    if (a % i == 0):
        sum = sum + i
if(sum == num):
    print("perfect number")
else:
    print("not a perfect number")

Enter the number: 45
not a perfect number